<h1>Editing contact</h1>

<div>
  <% form_for(@contact) do |f| -%>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <p>
      <%= f.submit "Update" %>
    </p>
  <% end -%>

  <%= link_to 'Cancel', @contact, :class => 'control cancel' %>
</div>
