<h1>New contact</h1>

<div>
  <% form_for(@contact) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <p>
      <%= f.submit "Create" %>
    </p>
  <% end %>

  <%= link_to 'Discard', contacts_path, :class => 'control discard' %>
</div>
