<h1>Editing item</h1>

<div>
  <% form_for(@item) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit "Apply" %>
    </p>
  <% end %>

  <%= link_to 'Cancel', @item, :class => 'control cancel' %>
</div>
