<h1>FIXME</h1>

<div id="msgs" style="position: fixed; top: 10px; right: 10px"></div>

<ul class="items">
  <% for item in @items -%>
    <li class="rank_<%= item.rank %>">
      <%= render :partial => item %>
    </li>
  <% end -%>
</ul>

<%= link_to 'New', new_item_path, :class => 'control new' %>
