<h1>New item</h1>

<div>
  <% form_for([@parent, @item]) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit "Add" %>
    </p>
  <% end %>

  <%= link_to 'Discard', items_path, :class => 'control discard' %>
</div>
